extends ./layout/index

block slider
    .slider
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5
            .col-md-6
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae quos enim cumque temporibus. Excepturi magni dolor nostrum itaque necessitatibus quo, odio eveniet mollitia corporis quasi dignissimos. Perspiciatis corporis officiis eius. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut illo corrupti harum, porro, odit modi tempora voluptas repellat velit, expedita quae optio beatae omnis eaque provident labore! Architecto, similique eaque.
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam architecto eum ipsa exercitationem repellendus maiores deserunt in, atque consequatur, quis et mollitia nostrum nisi magnam cumque. Accusamus culpa dignissimos esse?
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")

        include ./layout/bloque_viajes

    .descuento
        .container
            .row
                .col-md-6
                    .contenido
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2500 USD
    
    .container
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
