extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen Sobre Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote et sapien condimentum, sollicitudin augue eu, malesuada urna. Sed sed condimentum nunc. Maecenas ullamcorper scelerisque sapien eget molestie. Integer lacinia tempor dui, et commodo sem eleifend quis. Praesent lacus lorem, consequat a mauris vel, aliquam bibendum turpis. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 

                p ultricies justo lectus, vel aliquet massa laoreet sed. Morbi gravida augue ut est porta vestibulum. Donec tincidunt arcu quam. Curabitur fermentum consequat pellentesque. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vivamus ac aliquam sapien. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent hendrerit purus lorem, in vulputate velit pellentesque et. Proin ornare nunc a tellus laoreet consequat sit amet a odio. 

                p sagittis malesuada mauris, non congue elit luctus quis. Suspendisse ullamcorper purus a congue commodo. Nunc venenatis dictum quam eget pulvinar. Vivamus ac ornare eros. Morbi elementum condimentum ultricies. Nam id lorem eget turpis rhoncus fringilla. Integer congue, nibh non fringilla fringilla, sapien justo mattis quam, vel dictum turpis lectus sed libero. Phasellus a tempor libero, in ultrices ipsum. Sed vitae diam vehicula ipsum elementum hendrerit. Duis tincidunt placerat lacinia. 

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="imag-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Integer congue, nibh non fringilla fringilla, sapien justo mattis quam, vel dictum turpis lectus sed libero. Phasellus a tempor libero, in ultrices ipsum. Sed vitae diam vehicula ipsum elementum hendrerit. Duis tincidunt placerat lacinia. 
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Seguridad", class="imag-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Integer congue, nibh non fringilla fringilla, sapien justo mattis quam, vel dictum turpis lectus sed libero. Phasellus a tempor libero, in ultrices ipsum. Sed vitae diam vehicula ipsum elementum hendrerit. Duis tincidunt placerat lacinia. 
                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono Seguridad", class="imag-fluid mb-4")
                    h2.mb-4 Mejores Precios
                    p Integer congue, nibh non fringilla fringilla, sapien justo mattis quam, vel dictum turpis lectus sed libero. Phasellus a tempor libero, in ultrices ipsum. Sed vitae diam vehicula ipsum elementum hendrerit. Duis tincidunt placerat lacinia. 